body {
  font-family: 'Varela Round', sans-serif;
}

.container-fluid {
  padding-left: 80px;
  padding-right: 80px;
}

nav {
  background-color: #2C3531;
}

.nav-link {
  color: #D9B08C;
  font-size: 18px;
}

.nav-link:hover {
  color: #D9B08C;
  text-decoration: underline;
}

#profile-pic {
  float: left;
  margin-right: 5px;
}

#description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.about-title {
  text-align: center;
  color: #116466;
  font-style: italic;
}

#about {
  background-color: #D1E8E2;
  color: #2C3531;
  font-size: 12px;
}

.text-responsive {
  font-size: calc(25% + 1vw + 1vh);
}

#projects {
  background-color: #116466;
}

#project-title {
  text-align: center;
  color: #D1E8E2;
  font-style: italic;
}

.project-description {
  color: white;
  font-size: 20px;
}