body {
  font-family: 'Varela Round', sans-serif;
}

.container-fluid {
  padding-left: 80px;
  padding-right: 80px;
}

.navbar {
  background-color: #2C3531;
}

.nav-link {
  color: #D1E8E2;
  text-decoration: none;
  font-size: 24px;
}

.nav-link:hover {
  color: #116466;
}

#inspire {
  background-color: #D9B08C;
  color: #116466;
  font-size: 48px;
  font-family: 'Courgette', sans-serif;
}

cite {
  display: flex;
}

#about {
  background-color: #D1E8E2;
  color: #2C3531;
  font-size: 24px;
}

.text-responsive {
  font-size: calc(25% + 1vw + 1vh);
}

#projects {
  background-color: #116466;
}